.MyTip {
    min-height: 50px;
    border: solid grey;
    border-width: 0px 0px 1px 0px;
    padding: 10px 10px 10px 10px;

    text-align:left;
}
.MyTips{
    width: 500px;
  background-color: rgb(217, 255, 160);
}