.MyTip {
  min-height: 50px;
  border: solid grey;
  border-width: 0px 0px 1px 0px;
  padding: 10px 10px 10px 10px;

  text-align: left;
}
.MyTips {
  width: 500px;
  background-color: rgb(217, 255, 160);
}

.HelpfulLevelBar {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.HelpfulNumIcons{
  border-width: 0px 0px 1px 0px;
  border: solid black;
  width: 200px;
  height: 20px;
  border-radius: 3px;
  padding: 0px, 3px, 0px, 3px;
}