.MyTipsArea {
  background-color: rgb(217, 255, 160);
  padding: 20px;
  margin: 20px;

  text-align: left;
  font-size : large;
  width: 300px;
  min-height: 300px;
  text-align: left;
}

.MyTips {
  padding: 20px;
  font-size : medium;
}

.MyTip {
  min-height: 80px;
  border: solid grey;
  border-width: 0px 0px 1px 0px;
  padding: 10px 10px 10px 10px;

  text-align: left;
}

.HelpfulLevelBar {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.HelpfulNumIcons{
  border: solid black;
  border-width: 0px 0px 1px 0px;
  width: 160px;
  height: 24px;
  border-radius: 6px;
  padding: 0px, 3px, 0px, 3px;
}